<h2>Add User</h2>

<form action="/User" method="POST" autocomplete="off">
   <input type="hidden" name="_id" value="{{User._id}}">

    <div class="form-group">

        <label>firstname</label>
        <input type="text" class="form-control" name="firstname" placeholder="firstname" value="{{User.firstname}}">

    </div>

    <div class="form-group">

        <label>lastname</label>
        <input type="text" class="form-control" name="lastname" placeholder="lastname" value="{{User.lastname}}">

    </div>

 <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="email" value="{{User.email}}">

    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="email" value="{{User.password}}">
    </div>

      <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
     <a class="btn btn-secondary" href="/User/listUsers"><i class="fa fa-list-alt"></i> View All</a>
    
    </div>


    
</form>